<html>
   <head>
       <title>{{ my_customer_name }}</title>
   </head>
   <body>
       <h1>Welcome to {{ my_customer_name }} website</h1>
       <p> This server hostname is {{ inventory_hostname }}
   </body>
</html>